.body{
    box-sizing: border-box;
    margin: auto 0;
    
}


.jumbotron {
    text-align: center;
    background-color: rgb(52, 114, 165);
    height: 90px;
    font-size: 32px;
    font-weight: bold;
    color: white; 
    padding-top: 20px;
    
}

.cityDisplay {
    margin: auto 0;
    padding: 0;
    line-height: 10px;
}

.forecast {
    background-color: blue;
    color: white;
    font-size: 15px;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: red;
}